.list-container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  margin-bottom: 16px;
  list-style-type: none;
  padding: 12px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .list-container {
    margin-bottom: 20px;
    padding: 20px;
  }
}

.company-logo-and-rating-container {
  display: flex;
  align-items: center;
}

.company-logo-image {
  width: 55x;
  height: 70px;
  margin-right: 6px;
}

@media screen and (min-width: 768px) {
  .company-logo-image {
    width: 80x;
    height: 100px;
    margin-right: 10px;
  }
}

.title-and-rating-container {
  display: flex;
  flex-direction: column;
}

.job-title {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .job-title {
    font-size: 24px;
  }
}

.rating-container {
  display: flex;
  align-items: center;
}

.rating-text {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  margin-left: 6px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .rating-text {
    font-size: 22px;
    margin-left: 10px;
  }
}

/* location jobType  and package */

.location-job-type-and-package-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-and-job-type-container {
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  align-items: center;
}

.location {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
}

.job-type-container {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.job-type {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  margin-left: 3px;
}

.package {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .location {
    font-size: 15px;
  }

  .job-type-container {
    margin-left: 18px;
  }

  .job-type {
    font-size: 15px;
    margin-left: 6px;
  }

  .package {
    font-size: 20px;
  }
}

/* description */

.description-heading {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

.description {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .description-heading {
    font-size: 22px;
  }

  .description {
    font-size: 17px;
  }
}

.line {
  border: 1px solid #b6c5ff;
  width: 100%;
}

.path {
  text-decoration: none;
}
