.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-container-heading {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: bold;
}

.home-container-description {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Roboto';
}

.find-jobs-button {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  background-color: #6366f1;
  border: none;
  padding: 10px 24px 10px 24px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .home-container {
    min-height: 100vh;
    width: 100%;
    padding: 16px;
  }

  .home-container-heading {
    font-size: 40px;
  }

  .home-container-description {
    font-size: 20px;
  }

  .find-jobs-button {
    font-size: 17px;
    padding: 14px 28px 14px 28px;
  }
}
