.job-items-details-responsive-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.job-items-details-app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
}

.job-item-container {
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  width: 90%;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .job-item-container {
    padding: 14px;
    margin-right: 26px;
    margin-left: 26px;
    width: 95%;
    margin-top: 30px;
  }
}

.company-logo-and-rating-container {
  display: flex;
  align-items: center;
}

.company-logo-image {
  width: 50px;
  height: 55px;
}

@media screen and (min-width: 768px) {
  .company-logo-image {
    width: 78px;
    height: 85px;
  }
}

.title-and-rating-container {
  display: flex;
  flex-direction: column;
}

.job-title {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .job-title {
    font-size: 22px;
  }
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .rating-text {
    font-size: 20px;
  }
}

/* location job type package */

.location-job-type-and-package-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-and-job-type-container {
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  align-items: center;
}

.location {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}

.job-type-container {
  display: flex;
  align-items: center;
  margin-left: 13px;
}

.job-type {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  margin-left: 3px;
}

.package {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .location {
    font-size: 17px;
  }

  .job-type-container {
    margin-left: 18px;
  }

  .job-type {
    font-size: 17px;
    margin-left: 6px;
  }

  .package {
    font-size: 22px;
  }
}

.line {
  border: 1px solid #b6c5ff;
  width: 100%;
  margin-top: 0px;
}

/* description container */

.description-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .description-heading {
    font-size: 22px;
  }
}

.anchor-container {
  display: flex;
  align-items: center;
}

.anchor-text {
  color: blue;
  font-size: 17px;
  font-family: 'Roboto';
  text-decoration: none;
  font-weight: 500;
}

.job-description {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}

.skills-heading {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .anchor-text {
    font-size: 18px;
  }

  .job-description {
    font-size: 18px;
    line-height: 1.2;
  }

  .skills-heading {
    font-size: 20px;
  }
}

/* skills-container */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
  padding-top: 0px;
}

.skill-item {
  display: flex;
  align-items: center;
  width: 42%;
  list-style-type: none;
  margin-bottom: 10px;
  padding-left: 5px;
}

.skill-image {
  width: 80px;
  height: 70px;
  margin-right: 14px;
}

.skill {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .skill-item {
    width: 28%;
    padding-left: 0px;
  }

  .skill-image {
    width: 60px;
    height: 60px;
    margin-right: 12px;
  }

  .skill {
    font-size: 16px;
  }
}

/* life-at-company-heading */

.life-at-company-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-bottom: 0px;
}

.life-at-company-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.life-at-company-description {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  width: 100%;
  line-height: 1.2;
  padding: 2px;
}

.life-at-company-image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .life-at-company-heading {
    font-size: 24px;
  }

  .life-at-company-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .life-at-company-description {
    font-size: 18px;
    padding: 4px;
    width: 50%;
    line-height: 1.4;
  }

  .life-at-company-image {
    width: 40%;
  }
}

.similar-jobs-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-bottom: 0px;
  margin-left: 18px;
}

.similar-jobs-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 8px;
}

@media screen and (min-width: 768px) {
  .similar-jobs-heading {
    font-size: 27px;
    margin-left: 27px;
  }

  .similar-jobs-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
  }
}

/* failure-view-container */

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 100vh;
}

.failure-view-image {
  width: 240px;
  height: 250px;
}

.failure-view-container-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}

.failure-view-container-text {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .failure-view-image {
    width: 350px;
    height: 350px;
  }

  .failure-view-container-heading {
    font-size: 30px;
  }

  .failure-view-container-text {
    font-size: 17px;
  }
}

.retry-button {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  padding: 8px 14px 8px 14px;
  background-color: #6366f1;
}

/* loader-container */

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding-top: 0px;
  height: 50vh;
}

@media screen and (min-width: 768px) {
  .loader-container {
    height: 60vh;
  }
}
