.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  width: 70%;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .login-container {
    height: 100vh;
    width: 100%;
  }

  .card-container {
    width: 45%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.website-logo-image {
  width: 170px;
  margin-bottom: 30px;
}

.login-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 22px 12px 22px;
}

.label-text {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  margin-bottom: 2px;
}

.input-text {
  color: #ffffff;
  font-size: 18px;
  padding: 8px 2px 8px 12px;
  font-family: 'Roboto';
  background-color: #202020;
  border: 1px solid #6366f1;
  width: 100%;
  margin-bottom: 14px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .login-details-container {
    width: 100%;
    padding: 20px 36px 20px 36px;
  }

  .label-text {
    font-size: 20px;
  }

  .input-text {
    font-size: 18px;
    padding: 8px 2px 8px 12px;
    margin-bottom: 16px;
  }
}

.login-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  border: none;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}

.error-text {
  color: #ff0b37;
  font-size: 16px;
  font-family: 'Roboto';
}
