.similar-jobs-item-container {
  background-color: gray;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .similar-jobs-item-container {
    width: 30%;
    padding: 15px;
    margin-right: 12px;
    margin-left: 0px;
    margin-bottom: 12px;
  }
}

.company-logo-title-and-rating-container {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 82px;
  height: 80px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .company-logo {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }
}

.title-rating-container {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-bottom: 28px;
}

.title {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .title-rating-container {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .title {
    font-size: 20px;
  }
}

.rating-container {
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.rating {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  margin-left: 6px;
}

.description-head {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
}

.description-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}

.location-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}

.job-type-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 7px;
}

@media screen and (min-width: 768px) {
  .rating {
    font-size: 16px;
    margin-left: 4px;
  }

  .description-head {
    font-size: 20px;
  }

  .description-text {
    font-size: 15px;
  }

  .location-text {
    font-size: 15px;
  }

  .job-type-text {
    font-size: 15px;
    margin-left: 5px;
  }
}
